@model BrandUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "_AdminLayout";
}

<div class="form">

   <form asp-action="UpdateBrand" asp-controller="Brand" enctype="multipart/form-data">
       <div asp-validation-summary="All" class="text-danger" ></div>
       <input type="hidden" asp-for="Id" />
       <div class="row">
       <div class="col">
           <label asp-for="Name" ></label>
           <input type="text"  asp-for="Name" maxlength="30" minlength="2" placeholder="enter name" class="form-control" autofocus>
       </div>
       <div class="col">
           <label asp-for="File" ></label>
           <input type="file"accept="image/*"  asp-for="File" class="form-control" >
           @if(@Model.imagepath!=null)
            
                {
                    <img src="~/uploaded_img/@Model.imagepath" style="width:4rem" class="img-thumbnail" />
                }
       </div>
      </div>
      
       <input type="submit" value="Update" class="bt" >
   </form>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}