
@{
    ViewData["Title"] = "About";
        Layout = "_Layout";
}
@section stylecss{
       <link rel="stylesheet" href="~/css//styleprofile.css">
}
<div class="heading">
   <h3 style="margin-top:1rem">about us</h3>
</div>

<section class="about">

   <div class="row">

      

      <div class="content">
         <h3>why choose us?</h3>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis non odit nihil, doloremque sunt aut placeat culpa. Adipisci minima, neque necessitatibus incidunt nemo eveniet mollitia quis facere vel consectetur culpa?</p>
         <a asp-action="Index" asp-controller="ShowProduct" class="btn">our menu</a>
      </div>

   </div>

</section>

<section class="steps">

   <h1 class="title">2 simple steps</h1>

   <div class="box-container">

      <div class="box">
         <img src="/images/step-1.png" style="width:10rem" alt="">
         <h3>select Product</h3>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, hic.</p>
      </div>

      <div class="box">
         <img src="/images/step-2.png" style="width:10rem" alt="">
         <h3>30 minutes delivery</h3>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, hic.</p>
      </div>

   </div>

</section>

