
@{
    Layout = "_Layout";
}

<section class="justify-content-center">
    <div>
        <p class="btn">
            An error occurred while processing your request.
        </p>
    </div>
</section>