@{
    Layout = "_Layout";
}


<section class="justify-content-center">
    <div>
        <p class="btn">
            The link has been sent, please check your email to reset your password.
        </p>
    </div>
</section>